@import "mixins";

.chevron{
    position:relative;
    display:block;
    height:50px;/*height should be double border*/
    @include rotate(180);
}
.chevron:before,
.chevron:after{
    position:absolute;
    display:block;
    content:"";
    border: 12px solid transparent;/*adjust size*/
    @include rotate(360);
}

.chevron:after{
    top:-5px;/*adjust thickness*/
    border-top-color: white;/*Match background colour*/
    @include rotate(360);
    right: 10px;
}