.footer{
	height: 100px;
	width: 100%;
    background-color: $color-purple;
}

.footer-container{
    max-width: $max-width;
    margin: 30px auto 0;
    height: 100px;
    position: relative;
}

.footer-message{
    text-align: center;
    padding-top: 35px;
    margin: 0;
    font-size: $footer-font-size;
    color: $color-footer-white;
}

.btn-top-footer{
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    background-color: $color-purple;
    margin: 0 auto;
    position: absolute;
    top: -22px;
    right: 0;
    left: 0;
    @include transition(0.3s);

    &:hover{
        cursor: pointer;
        @include transition(0.3s);

        .chevron:before{
            @include transition(0.3s);
            border-color: darken($color-footer-white, 15%);
        }
    }

    span{
        top: -30px;
        right: -8px;
    }
}