@import "variables";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

p{
    color: $red;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container {
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto;
}

.row{
    padding: 15px 0px;
	width: $one-hundred-percentage;
    float: left;

}
