@import "variables";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', Helvetica-neue, Helvetica, Arial, sans-serif, Times-new-roman;
}

h1, p{
    padding-left: 20px;
    padding-right: 20px;
    color: $color-base-font-grey;
}

p{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: $font-base-line-height;
}

.container {
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto;
}

.row{
    padding: 15px 0px;
	width: $one-hundred-percentage;
}

