//The file for future mixins


//Transition mixin
@mixin transition($duration) {
    -moz-transition:    $duration;
    -o-transition:      $duration;
    -webkit-transition: $duration;
    transition:         $duration;
}