//Value variables

$max-width: 700px;
$min-width: 320px;
$one-hundred-percentage: 100%;
$header-height: 70px;


//Color Variables

$color-purple: #7522C6;
$color-base-font-grey: #404040;
$color-footer-white: #efefef;

//Media queries variables

$mobile: 699px;


//Font sizes

$menu-font-size: 18px;
$header-name-desktop: 25px;
$font-base-line-height: 24px;
$footer-font-size: 13px;