html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  color: #cf150a;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  max-width: 700px;
  min-width: 320px;
  margin: 0 auto;
}

.row {
  padding: 15px 0px;
  width: 100%;
  float: left;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #7522C6;
  display: table;
}
.footer .footer-container {
  max-width: 700px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.footer .footer-message {
  text-align: center;
  padding-top: 40px;
  margin: 0;
}
.footer .btn-top-footer {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  background-color: #7522C6;
  margin: 0 auto;
  position: absolute;
  top: -22px;
  right: 0;
  left: 0;
}
.footer .btn-top-footer:hover {
  cursor: pointer;
}
.footer .btn-top-footer:hover .chevron:before {
  border-color: #d9d9d9;
}
.footer .btn-top-footer span {
  top: -30px;
  right: -8px;
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.55em;
  left: 0;
  position: relative;
  top: 0.8em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.55em;
  right: 0;
  border-color: orange;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}
