html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  color: #cf150a;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  max-width: 700px;
  min-width: 320px;
  margin: 0 auto;
}

.row {
  padding: 15px 0px;
  width: 100%;
  float: left;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #7522C6;
  display: table;
}
.footer .footer-container {
  max-width: 700px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.footer .btn-top-footer {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  background-color: #7522C6;
  margin: 0 auto;
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
}
.footer .btn-top-footer:hover {
  cursor: pointer;
}
.footer .btn-top-footer:hover .chevron:after {
  border-top-color: #d9d9d9;
}
.footer .btn-top-footer span {
  top: -30px;
  right: -8px;
}

.chevron {
  position: relative;
  display: block;
  height: 50px;
  /*height should be double border*/
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.chevron:before,
.chevron:after {
  position: absolute;
  display: block;
  content: "";
  border: 12px solid transparent;
  /*adjust size*/
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.chevron:after {
  top: -5px;
  /*adjust thickness*/
  border-top-color: white;
  /*Match background colour*/
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  right: 10px;
}
